<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的求购-填写成功</title>
    <link rel="stylesheet" href="__PUBLIC__/Front/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Front/css/my-purchase-sucess.css">
</head>
<body>
    <!----header---->
    <script type="text/javascript" src="__PUBLIC__/Front/lib/template-web.js"></script>
<script type="text/javascript">window.$domain = 'http://kwen.t.weixinren.cn/'</script>

    <div class="top-bar">
        <div class="wrapper">
            <span id="username">Hello ! Welcome to Keywa !</span>
            <a href="#" class="lang"><i></i>中文</a>
        </div>
    </div>



    <!---user---->
    <div class="user">
        <div class="logo"><div class="wrapper"><a href="/"><img src="__PUBLIC__/Front/images/logo.png"></a><span>My Keywa</span></div></div>
        <div class="user-main clearfix wrapper">
            <!----user-nav---->
            <div class="user-nav fl">
    <h1><a href="#" class="on">Dashboard</a></h1>
    <ul>
        <li>
            <h2>My Account</h2>
            <div class="user-nav-sub">
                <p><a href="user.html">Profile</a></p>
                <p><a href="certified_enterprise.html">License Info</a></p>
            </div>
        </li>
        <li>
            <h2>Order</h2>
            <div class="user-nav-sub">
            	<p><a href="inquiry_order.html">Inquiry order</a></p>
                <p><a href="shipping_order.html">Shipping order</a></p>
                
            </div>
        </li>
        <li>
            <h2>Settings</h2>
            <div class="user-nav-sub">
                <p><a href="change_password.html">Change Password</a></p>
                <p><a href="manage_email.html">Manage Verfication Email Address</a></p>
            </div>
        </li>
        <li>
            <h2>Message</h2>
            <div class="user-nav-sub">
                <p><a href="system_infomation.html">Syetem Message(0)</a></p>
                <p><a href="system_infomation.html">Mailbox(0)</a></p>
            </div>
        </li>
        <li>
            <h2><a href="product_collection.html">My Favorites</a></h2>
        </li>
        <li>
            <h2><a href="my_purchase.html">My Buy Offers</a></h2>
        </li>
        <li>
            <h2><a href="my_supply.html">My Supply Offers</a></h2>
        </li>
    </ul>
</div>

            <!---my-purchase-sucess---->
            <div class="user-manage-email fr">
                <div class="user-tit">
                    <b>My Supply Offers</b>
                </div>
                <div class="manage-email-box">
                    <dl class="clearfix">
                        <dt></dt>
                        <dd>
                            <p><b>Have been submitted</b></p>
                            <p>please wait for the auditing</p>
                        </dd>
                        <dt class="return-now">
                            <a href="#" class="keywa-btn keywa-btn-primary">Add Again</a>
                            <a href="#" class="keywa-btn">Return Now</a>
                        </dt>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <!----footer---->
    
    <div class="footer">
        <div class="wrapper">
            <div class="footer-hd clearfix">
                <div class="footer-hd-l fl"><a href="#"><img src="__PUBLIC__/Front/images/footer-logo.png"></a></div>
                <div class="footer-hd-r fl">
                    <ul class="clearfix">
                        <li>
                            <p><span>About Keywa</span></p>
                            <p><a href="#">About us</a></p>
                            <p><a href="#">Contact us</a></p>
                            <p><a href="#">Media Report</a></p>
                            <p><a href="#">Terms of Use</a></p>
                            <p><a href="#">Legal statement</a></p>
                        </li>
                        <li>
                            <p><em>Support</em></p>
                            <p><b><a href="mailto:service@keywa.com">Email: service@keywa.com</a></b></p>
                            <p><b><a href="tel:+86 4008-488-999" target="_blank">Tel：+86 4008-488-999</a></b></p>
                        </li>
                        <li>
                            <p><span>Language</span></p>
                            <p><a href="#"><i class="cn"></i>中文</a></p>
                            <p><a href="#"><i class="en"></i>English</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-bd">
                <div class="copyright">Keywa.com © Copyright 2016 Keywa Inc. All rights reserved. ICP No.:GuangDong14005764</div>
            </div>
        </div>
    </div>


</body>
<script type="text/javascript" src="__PUBLIC__/Front/lib/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Front/js/my-purchase-sucess.js"></script>
</html>