<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <link rel="stylesheet" href="__PUBLIC__/Front/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Front/css/order-detaild.css">
</head>
<body>
    <!----header---->
    <script type="text/javascript" src="__PUBLIC__/Front/lib/template-web.js"></script>
<script type="text/javascript">window.$domain = 'http://kwen.t.weixinren.cn/'</script>

    <div class="top-bar">
        <div class="wrapper">
            <span id="username">Hello ! Welcome to Keywa !</span>
            <a href="#" class="lang"><i></i>中文</a>
        </div>
    </div>


    <!---user---->
    <div class="user">
        <div class="logo">
            <div class="wrapper">
                <a href="/"><img src="__PUBLIC__/Front/images/logo.png"></a><span>My Keywa</span>
            </div>
        </div>
        <div class="position">
            <div class="wrapper"><a href="#">HOME</a><em>></em><span>Dashboard</span><em>></em><span>Shipping order</span><em>></em><span>No.1 Base Oil</span></div>
        </div>
        <!---order-detaild---->
        <div class="order-detaild wrapper" id="order-detail"></div>
        <script type="text/html" id="tp-order-detail"><div class="order-detaild-1 clearfix">
                <div class="order-detaild-process fl">
                    <h2><span>Order ID: <em>{{orderInfo.orderSn}}</em></span><a class="order-print" href="print_order.html" rid="{{orderInfo.orderId}}"><i></i>Print order</a></h2>
                    <ul class="clearfix step{{if orderInfo.finishedTime}}5{{else if orderInfo.shipTime}}4{{else if orderInfo.payTime}}3{{else if orderInfo.confirmTime}}2{{else}}1{{/if}}">
                        <li {{if orderInfo.addTime}}class="on"{{/if}}>
                            <span>Submit Order</span>
                            <p>{{@orderInfo.addTime.replace(' ', '<br/>')}}</p>
                        </li>
                        <li {{if orderInfo.confirmTime}}class="on"{{/if}}>
                            <span>Order confirmed</span>
                            <p>{{@orderInfo.confirmTime.replace(' ', '<br/>')}}</p>
                        </li>
                        <li {{if orderInfo.payTime}}class="on"{{/if}}>
                            <span>Certificate confirmation</span>
                            <p>{{@orderInfo.payTime.replace(' ', '<br/>')}}</p>
                        </li>
                        <li {{if orderInfo.shipTime}}class="on"{{/if}}>
                            <span>Shipped</span>
                            <p>{{@orderInfo.shipTime.replace(' ', '<br/>')}}</p>
                        </li>
                        <li {{if orderInfo.finishedTime}}class="on"{{/if}}>
                            <span>Complete</span>
                            <p>{{@orderInfo.finishedTime.replace(' ', '<br/>')}}</p>
                        </li>
                    </ul>
                </div>
                <div class="order-detaild-status fr">
                    <p>Order Status</p>
                    <p><span>{{orderInfo.stateName}}</span></p>
                    {{if orderInfo.state == 0}}
                    <p>
                    	<a href="javascript:;" class="keywa-btn order-cancel" rid="{{orderInfo.orderId}}">Cancel</a>
                    	{{if orderInfo.bconfirm == 0 && orderInfo.scontract}}
                    	<a href="javascript:;" class="keywa-btn order-confirm" rid="{{orderInfo.orderId}}">Confirm</a>
                    	{{/if}}
                    </p>
                    {{/if}}
                    {{if orderInfo.state == 3}}
                    <p><a href="javascript:;" class="keywa-btn order-receive" rid="{{orderInfo.orderId}}">Receive</a></p>
                    {{/if}}
                </div>
            </div>
            <div class="order-detaild-2">
                <h2>Related Information</h2>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="140" align="center" rowspan="3"><b>VENDOR NO:</b></td>
                        <td width="400" rowspan="3">
                            Guangdong Keywa Chemical Tranding Center Co.,Ltd.
                            C1, Foshan National Torch Innovation Pioneering Park,No.13 Huabao South Road, Chancheng District,Foshan,Guangdong ,China.
                            Attn:           Tel:            Fax:          Email:
                        </td>
                        <td width="140" align="right"><b>ORDER NO:</b></td>
                        <td>{{orderInfo.orderSn}}</td>
                    </tr>
                    <tr>
                        <td width="140" align="right"><b>DATE:</b></td>
                        <td>{{orderInfo.confirmTime}}</td>
                    </tr>
                    <tr>
                        <td width="140" align="right"><b>PAGE:</b></td>
                        <td>2</td>
                    </tr>
                </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="140" align="center" rowspan="2"><b>INVOICE TO:</b></td>
                        <td colspan="2">
                            <p>Bharat Jyoti Impex Jasu , 30-Dadabhai Road,Opp CNM School /Near Flyover Vile Parle West,Mumbai 400056 Marashtra,India.</p>
                            <p>Attn:                  Tel:            Fax:          Email:</p>
                        </td>
                        <td width="140" align="center"><b>CONSIGNEE /<br>DELIVERY ADDRESS:</b></td>
                        <td colspan="3">
                            <p>Bharat Jyoti Impex Jasu , 30-Dadabhai Road,Opp CNM School /Near Flyover Vile Parle West,Mumbai 400056 Marashtra,India.</p>
                            <p>Attn:                  Tel:            Fax:          Email:</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">GST NO.</td>
                    </tr>
                    <tr>
                        <td align="center"><b>MODE OF TRANSPORT:</b></td>
                        <td width="90">{{orderInfo.transport}}</td>
                        <td width="280" align="right"><b>PORT OF LOADING/DEPARTURE:</b></td>
                        <td>Guangzhou,China</td>
                        <td align="right"><b>UNIT:</b></td>
                        <td colspan="2">MT</td>
                    </tr>
                    <tr>
                        <td align="center"><b>FREIGHT :</b></td>
                        <td>{{if orderInfo.provision == 'FOB'}}N/A{{else}}{{orderInfo.freightway}}{{/if}}</td>
                        <td width="280" align="right"><b>PORT OF DISCHARGE/DESTIONATION:</b></td>
                        <td>NHAVA SHEVA INDIA</td>
                        <td align="right"><b>CURRENCY:</b></td>
                        <td colspan="2">USD</td>
                    </tr>
                    <tr>
                        <td align="center"><b>DELIVERY TERM: </b></td>
                        <td>{{orderInfo.provision}}</td>
                        <td width="280" align="right"><b>DESTINATION OF GOODS:</b></td>
                        <td>N/A</td>
                        <td align="right"><b>PAYMENT TERM:</b></td>
                        <td colspan="2">T/T IN ADVANCED/LC AT SIGHT</td>
                    </tr>
                    <tr>
                        <td align="center"><b>INSURANCE BY:</b></td>
                        <td>{{orderInfo.insurance}}</td>
                        <td width="280" align="right"><b>COUNTRY OF FINAL  DESTINATION:</b></td>
                        <td>N/A</td>
                        <td align="right"><b>GOVERNED BY:</b></td>
                        <td colspan="2"><b>{{orderInfo.governed}}</b></td>
                    </tr>
                </table>
            </div>
            <div class="order-detaild-3">
                <h2>Upload contract information</h2>
                <div class="upload-box">
                    <div id="fileUploadContent0" class="fileUploadContent mui-clearfix"></div>
                    <p>Buyer Order Contract</p>
                </div>
                <div class="upload-box">
                    <div id="fileUploadContent1" class="fileUploadContent mui-clearfix"></div>
                    <p><i></i>Seller order contract</p>
                </div>
                <div class="order-detild-3-tips">Support PDF / JPG / PNG format, the maximum file does not exceed 15M</div>
            </div>
            <div class="order-detaild-4">
                <h2>Operation record</h2>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th align="center" colspan="2">Processing time</th>
                            <th align="left">Handling matters</th>
                            <th align="center">Operator</th>
                        </tr>
                    </thead>
                    <tbody>
                    	{{each operationRecord vo ko}}
                        <tr>
                            <td width="45" align="center" class="brn bbn"><span></span></td>
                            <td align="left" class="bln">{{vo.addTime}}</td>
                            <td align="left">{{vo.remark}}</td>
                            <td align="center">{{vo.operator}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="order-detaild-5">
                <h2>Remarks</h2>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th align="center">Remarks time</th>
                            <th align="center">Remarks content</th>
                            <th align="center">Remarks people</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="center">2017-08-15 17:39:37</td>
                            <td align="center">2017 Keywa Wireless Earphones Bluetooth bluetooth earbuds earphone for sale</td>
                            <td align="center">Buyer</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="order-detaild-6">
                <h2>Special instructions</h2>
                <div class="order-detaild-6-info">
                	{{@orderInfo.message.replace("\n", '<br/>')}}
                </div>
            </div>
            <div class="order-detaild-7">
                <h2>Product List</h2>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th align="left">Product information</th>
                            <th align="center">Unit price</th>
                            <th align="center">Quantity</th>
                            <th align="center">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                    	{{each productList vo ko}}
                        <tr>
                            <td width="340" align="left">
                                <dl>
                                    <dt><img src="{{vo.image}}"></dt>
                                    <dd>
                                        <p><a href="#">{{vo.title}}</a></p>
                                        <p></p>
                                    </dd>
                                </dl>
                            </td>
                            <td align="center"><b>${{vo.orderPrice}} / {{vo.weightUnit}}</b></td>
                            <td align="center"><b>{{vo.skuNumber}} {{vo.weightUnit}}</b></td>
                            <td align="center"><b>${{vo.orderTotalPrice}}</b></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="order-detaild-8">
                <p><span>Total order : </span><em>$ {{orderInfo.skuPrice}}</em></p>
                <p><span>Freight & other : </span><em>$ {{orderInfo.freight}}</em></p>
                <p><span>Order total price : </span><em>$ {{orderInfo.totalPrice}}</em></p>
            </div></script>
    </div>
    <!----footer---->
    
    <div class="footer">
        <div class="wrapper">
            <div class="footer-hd clearfix">
                <div class="footer-hd-l fl"><a href="#"><img src="__PUBLIC__/Front/images/footer-logo.png"></a></div>
                <div class="footer-hd-r fl">
                    <ul class="clearfix">
                        <li>
                            <p><span>About Keywa</span></p>
                            <p><a href="#">About us</a></p>
                            <p><a href="#">Contact us</a></p>
                            <p><a href="#">Media Report</a></p>
                            <p><a href="#">Terms of Use</a></p>
                            <p><a href="#">Legal statement</a></p>
                        </li>
                        <li>
                            <p><em>Support</em></p>
                            <p><b><a href="mailto:service@keywa.com">Email: service@keywa.com</a></b></p>
                            <p><b><a href="tel:+86 4008-488-999" target="_blank">Tel：+86 4008-488-999</a></b></p>
                        </li>
                        <li>
                            <p><span>Language</span></p>
                            <p><a href="#"><i class="cn"></i>中文</a></p>
                            <p><a href="#"><i class="en"></i>English</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-bd">
                <div class="copyright">Keywa.com © Copyright 2016 Keywa Inc. All rights reserved. ICP No.:GuangDong14005764</div>
            </div>
        </div>
    </div>


</body>
<script type="text/javascript" src="__PUBLIC__/Front/lib/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Front/lib/template-web.js"></script>
<script type="text/javascript" src="__PUBLIC__/Front/lib/alert/alert.js"></script>
<script type="text/javascript">window.$domain = 'http://kwen.t.weixinren.cn/'</script>
<script type="text/javascript">
$.fn.serializeObject = function() {
  var o = {};
  var a = this.serializeArray();
  $.each(a, function() {
      if (o[this.name] !== undefined) {
          if (!o[this.name].push) {
              o[this.name] = [o[this.name]];
          }
          o[this.name].push(this.value || '');
      } else {
          o[this.name] = this.value || '';
      }
  });
  return o;
};
$.post($domain + 'user/account/userDetail', {}, function(d){
	 var data = {}
	 if(d.code != '000'){ return }
	 data = d.detail
	 $('#username').html('<a href="/home/my/user.html" style="padding-right:5px;">'+ data.username +'</a>! Welcome to Keywa !')
	 $('#sign_wrap').html('<a href="/home/my/user.html">Account</a><a href="/user/index/logout.html">Sign Out</a>')
}, 'json')
</script>
<script type="text/javascript" src="__PUBLIC__/Front/js/order-detaild.js"></script>
</html>

