<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>使用条款</title>
    <link rel="stylesheet" href="__PUBLIC__/Front/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Front/css/terms.css">
</head>
<body>
    <!----header---->
    
    <include file="Public/index-head" />


    <!----nav---->
    <include file="Public/index-nav" />

    <!----terms---->
    <div class="terms-banner"><img src="__PUBLIC__/Front/images/terms-banner.jpg" width="100%"></div>
    <div class="terms">
        <div class="wrapper">
            <h1><span>Keywa</span> User Register Agreement</h1>
            <ul>
                <li>
                    <h2>Terms and Conditions</h2>
                    <p>Welcome to Keywa.com! User Register Agreement refers to “This Agreement” hereinafter. Keywa website, including but do not limited to the domain name as “www.keywa.com” and all websites of Guangdong Keywa Chemical Trading Center Co,.Ltd. All rights of ownership and operation provided by Keywa platform belongs to Guangdong Keywa Chemical Trading Center Co,.Ltd.</p>
                </li>
                <li>
                    <h2>1. Application and Acceptance of the Terms</h2>
                    <p>1.1 The use of Keywa.com’s services and products, including the Chemical mall, Chemical Group-purchasing, Chemical supply & demand information, Chemical knowledge transaction, Chemical market trend information (collectively as the "Services" hereinafter) is subject to the terms and conditions contained in This Agreement as well as the Privacy Policy and any other rules and policies of Keywa.com that may be published by Keywa.com occasionally. This Agreement and such other rules and policies of Keywa.com are collectively referred to below as the "Terms". By accessing Keywa.com or using the Services, you agree to accept and be bound by the Terms. Please do not use the Services or Keywa.com if you do not accept all of the Terms.</p>
                    <p>1.2 This Services and Terms only apply to whom has legal identity to form a binding contract with Keywa.com and can receive Services under the laws of People's Republic of China or other countries/regions including the country/region in which you are resident or from which you use the Services.</p>
                    <p>1.3 Keywa.com may amend any Terms at any time by posting the relevant amended and restated Terms on Keywa.com. By continuing to use the Services or Keywa.com, you agree that the amended and restated Terms will apply to you.</p>
                </li>
                <li>
                    <h2>2. Users Generally</h2>
                    <p>2.1 As a condition of your access to and use Keywa.com or Services, you agree that you will comply with all national applicable laws and Keywa.com’s regulations.</p>
                    <p>2.2 Keywa.com’s Privacy Policy governs the protection and use of personal information about users in the possession of Keywa.com and our affiliates. Once you access to Keywa.com, it means that you do accept the terms of the Privacy Policy and agree to the use of the personal information about you in accordance with the Privacy Policy.</p>
                    <p>2.3 You agree not to undertake any action to undermine the integrity of the computer systems or networks of Keywa.com and/or any other User nor to gain unauthorized access to such computer systems or networks.</p>
                </li>
                <li>
                    <h2>3. Products and Prices</h2>
                    <p>3.1 Since we are continuously developing and upgrading our products and service, any technical, non-technical specification, including but not limited to web pages, reports tables, figures, images, videos or audios of any of products of Keywa.com may be altered or completely changed in formats and contents without a prior notification either online or offline.</p>
                    <p>3.2 Prices listed on Keywa.com or provided by any representatives of Keywa.com are subject to change without a prior notice.</p>
                </li>
                <li>
                    <h2>4. User Registration Method</h2>
                    <p>4.1 Keywa has free usership system for all the registered users, who can enjoy the functions and Services offered by keywa.com freely. The registered users are responsible for the authenticity and legality of the information submitted on the website. </p>
                </li>
                <li>
                    <h2>5. User Rights and Obligations </h2>
                    <p>5.1 The rights of user</p>
                    <p>5.1.1 Participate in trading and the relevant activities (Including but not limited to post offers, make commitments, conclude agreements,  execute agreements, etc);</p>
                    <p>5.1.2 Use the related facilities and acquire chemical market trend information and relevant service offered by Keywa;</p>
                    <p>5.1.3 Apply to suspend, resume or cancellation of qualification; </p>
                    <p>5.1.4 Other rights prescribed by Keywa.</p>
                    <p>5.2 The obligations of user</p>
                    <p>5.2.1 Compliance with national laws, regulations and the relevant rules published by Keywa and accept the supervision and management of Keywa;</p>
                    <p>5.2.2 Users shall undertake the compensation responsibility for causing damage to Keywa or other Keywa users;</p>
                    <p>5.2.3 Protect your account number and transaction password and be responsible for the using results that it may bring on Keywa;</p>
                    <p>5.2.4 Learn the business information, board, Terms of Keywa.com automatically and undertake the losses caused by failed to timely follow;</p>
                    <p>5.2.5 Equip the relevant internet facilities in accordance with the required standards of Keywa.com;</p>
                    <p>5.2.6 Inform Keywa.com timely if there are big changes happen.</p>
                </li>
                <li>
                    <h2>6. User name, Password and Security</h2>
                    <p>6.1 You shall in charge of your register user name and password and keep it secrecy, and accept the responsibility for all the activities that happened under your register user name and password. </p>
                    <p>6.2 You do agree: You will notice Keywa.com immediately once you found anyone who use your user name or password without your authority or other situations that violate the Privacy Policy; and ensure that you leave Keywa.com with correct procedure every time you finished your surfing. </p>
                    <p>6.3 Keywa.com can not and will not be responsible for any losses or damage for your fail to abide by the provisions of This Agreement. Besides, You can not disclose your password or share your password to any third party or use your password for any purpose that without authorization.</p>
                </li>
                <li>
                    <h2>7. Limitation of Liability</h2>
                    <p>7.1 Any material downloaded or otherwise obtained through Keywa.com is done at each User's sole discretion and risk and each User is solely responsible for any damage to Keywa.com’s computer system or loss of data that may result from the download of any such material.</p>
                </li>
                <li>
                    <h2>8. Applicable Laws and Disputes Settlements</h2>
                    <p>8.1 This agreement shall be governed by the laws of the PRC. When disputes happen, any different understanding to the relevant business rules which should subject to and will be construed in accordance with the latest posted Terms on Keywa.com.</p>
                    <p>8.2 Disputes arising from the performance and interpretation of This Agreement and the relevant rules between (a)Keywa.com and User, (b) Users should be first settled through friendly negotiation. If the dispute remain unresolved within 15 days from the date that one party sending a written notice to the other party for requesting to solve the problem through consultation, then either party can institute legal proceedings in the courts which have jurisdiction over Keywa.com’s location.</p>
                    <p>8.3 During the process of negotiation, conciliation, mediation and litigation for the matters in dispute, both the parties between (a)Keywa.com and User, (b)Users shall continue to perform the other terms in This Agreement in addition to the matters in dispute.</p>
                    <p>Guangdong Keywa Chemical Trading Center reserves the right to explain This User Register Agreement . In the event of any inconsistency between the English and Chinese versions of this Disclaimer, the Chinese version will always prevail.</p>
                </li>
            </ul>
        </div>
    </div>

    <!----floor-nav---->
    <div class="floor-nav">
        <a href="javascript:;" class="go-top">
            <span>TOP</span>
            <i></i>
        </a>
    </div>

    <!----footer---->
    <include file="Public/footer" />


</body>
<script type="text/javascript" src="__PUBLIC__/Front/lib/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Front/js/terms.js"></script>
</html>