<script id="news-detaild" type="text/html">
<div class="about-us-hd">
	<ul class="clearfix">
		<li><a href="{:U('Content/description')}"><i class="i1"></i><p>About us</p></a></li>
		<li><a href="{:U('Content/contact')}"><i class="i2"></i><p>Contact us</p></a></li>
		<li><a href="javascript:;" class="on"><i class="i3"></i><p>Media Report</p></a></li>
	</ul>
</div>
<div class="news-detaild-content">
	<div class="wrapper">
		<h1><a href="javascript:;" onclick="window.history.back()" class="keywa-btn">Back</a>{{data.title}}</h1>
		<h2><span>{{data.referer}}</span><em>|</em><time>{{data.reportDate}}</time></h2>
		<div class="news-detaild-content-info" id="news-detaild-content-info">
			
		</div>
		<div class="go-back"><a href="javascript:;" onclick="window.history.back()"  class="keywa-btn">Back</a></div>
	</div>
</div>
</script>