<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册成功</title>
    <link rel="stylesheet" href="__PUBLIC__/Front/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Front/css/register-04.css">
</head>
<body>
    <!----header---->
    <script type="text/javascript" src="__PUBLIC__/Front/lib/template-web.js"></script>
<script type="text/javascript">window.$domain = 'http://kwen.t.weixinren.cn/'</script>

    <div class="top-bar">
        <div class="wrapper">
            <span>Hello ! Welcome to Keywa !</span>
            <a href="#">Help</a>
        </div>
    </div>



    <!---register-main---->
    <div class="register">
        <div class="wrapper">
            <div class="logo"><img src="__PUBLIC__/Front/images/logo.png"><span>Register</span></div>
        </div>
        <div class="register-banner"><img src="__PUBLIC__/Front/images/register-banner.jpg" width="100%"></div>
        <div class="register-main">
            <div class="wrapper">
                <div class="register-process">
                    <ul class="clearfix">
                        <li class="current"><span>1</span>Set Email</li>
                        <li class="current"><span>2</span>Fill in the information</li>
                        <li class="current"><span>3</span>Registration is complete</li>
                    </ul>
                </div>
                <div class="register-sucess">
                    <i></i>
                    <p><b>Registration success!</b></p>
                    <p>Welcome you to use keywa, thanks for support, and use pleasure.</p>
                    <p><a href="#" class="keywa-btn">Sign in to use</a></p>
                </div>
            </div>
        </div>
    </div>

    <!----footer---->
    

    <div class="login-footer">
        <div class="copyright">Keywa.com © Copyright 2016 Keywa Inc. All rights reserved. ICP No.:GuangDong14005764</div>
    </div>

</body>
<script type="text/javascript" src="__PUBLIC__/Front/lib/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Front/js/register.js"></script>
</html>