<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="__PUBLIC__/Front/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Front/css/index.css">
</head>
<body>
	<script type="text/javascript" src="__PUBLIC__/Front/lib/template-web.js"></script>
<script type="text/javascript">window.$domain = 'http://kwen.t.weixinren.cn/'</script>

    <div class="top-bar">
        <div class="wrapper">
            <span id="username">Hello ! Welcome to Keywa !</span>
            <a href="#" class="lang"><i></i>中文</a>
        </div>
    </div>


    <script type="text/javascript" src="__PUBLIC__/Front/lib/template-web.js"></script>
<script type="text/javascript">window.$domain = 'http://kwen.t.weixinren.cn/'</script>


    <div class="header">
        <div class="wrapper clearfix">
            <div class="header-logo fl">
                <a href="/"><img src="__PUBLIC__/Front/images/logo.png"></a>
            </div>
            <div class="header-search fl">
                <form action="#" class="clearfix">
                    <div class="header-search-sort fl">
                        <span><em>Mall</em><i></i></span>
                        <div class="header-search-sort-list">
                            <p><a href="javascript:;">Mall1</a></p>
                            <p><a href="javascript:;">Mall2</a></p>
                            <p><a href="javascript:;">Mall3</a></p>
                            <p><a href="javascript:;">Mall4</a></p>
                            <p><a href="javascript:;">Mall5</a></p>
                        </div>
                    </div>
                    <input type="text" placeholder="I'm shopping for...">
                    <button type="submit">??</button>
                </form>
                <div class="header-search-hot">
                    <a href="#">Albania</a>
                    <a href="#">Brazil</a>
                    <a href="#">Gabon</a>
                    <a href="#">India</a>
                    <a href="#">Singapore</a>
                    <a href="#">Suriname</a>
                    <a href="#">Libya</a>
                </div>
            </div>
            <div class="header-uesr fl">
                <i></i>
                <p id="sign_wrap"><a href="/User/index/login.html">Sigh In</a><a href="/User/index/register.html">Join Free</a></p>
                <p>My Keywa</p>
            </div>
            <div class="header-Favorites fr">
                <a href="/Home/my/product_collection.html"><i></i>Favorites<br>List</a>
            </div>
        </div>
    </div>

    <!----nav---->
    <div class="nav" id="nav-box"></div>
    <script type="text/html" id="tp-nav-box">
		<div class="wrapper clearfix">
    <div class="nav-sort fl">
        <h1><i></i>All Categories</h1>
        <div class="nav-sort-list">
            <ul>
            	{{each data vo ko}}
                <li><a href="{{vo.url}}"><i class="icon{{ko + 1}}"></i>{{vo.text}}</a></li>
                {{/each}}
            </ul>
            <ol>
            	{{each data vo ko}}
                <li>
                    <div class="nav-sort-item clearfix">
                        <div class="nav-sort-item-l fl">
                        	{{each vo.children fvo fko}}
                            <div class="nav-sort-item-l-sub">
                                <h3><a href="{{fvo.url}}">{{fvo.text}}</a></h3>
                                <p>
                                	{{each fvo.children svo sko}}
                                    <a href="{{svo.url}}">{{svo.text}}</a>
                                    {{/each}}
                                </p>
                            </div>
                            {{/each}}
                        </div>
                        <div class="nav-sort-item-r fl">
                           	{{each vo.products product}}
                            <div class="nav-sort-item-r-sub">
                                <a href="{{product.url}}">
                                    <div class="item-r-info">
                                        <p>{{product.title}}</p>
                                        <span>{{product.currency}}{{product.price}}/{{product.weightUnit}}</span>
                                    </div>
                                    <img src="{{product.thumb}}" style="max-width:120px;max-height:120px;">
                                </a>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
    </div>
    <div class="nav-menu fl">
        <ul class="clearfix">
            <li><a href="/" class="on">Home</a></li>
            <li><a href="/product/index" >Mall</a></li>
            <li><a href="/Buyoffer/indexlist" >Buy Offers</a></li>
            <li><a href="/Supply/lists" >Supply offers</a></li>
            <li><a href="/Content/about_us" >About us</a></li>
            <li><a href="/Content/terms" >Terms of Use</a></li>
        </ul>
    </div>
</div>
	</script> 

    <div class="home-slide wrapper" id="banners"></div>
    <script type="text/html" id="tp-banners">
		<div class="home-slide-group">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="javascript:;" target="_blank"><img src="__PUBLIC__/Front/images/pic3.jpg"></a></div>
            <div class="swiper-slide"><a href="javascript:;" target="_blank"><img src="__PUBLIC__/Front/images/pic3.jpg"></a></div>
            <div class="swiper-slide"><a href="javascript:;" target="_blank"><img src="__PUBLIC__/Front/images/pic3.jpg"></a></div>
            <div class="swiper-slide"><a href="javascript:;" target="_blank"><img src="__PUBLIC__/Front/images/pic3.jpg"></a></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
	</script>

    <!---hot's proucts--->
    <div class="home-hot-proucts wrapper" id="hot-product"></div>
    <script type="text/html" id="tp-hot-product">
		<!----ADbanner---->
 <div class="adbanner wrapper">
 	<a href="{{ad.url}}" target="_blank"><img src="{{ad.img}}"></a>
 </div>
<div class="home-tit"><span>Hot’s Products</span><a href="/product/index">More<i></i></a></div>
        <div class="home-hot-proucts-list">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                	{{each products vo ko}}
                    <div class="swiper-slide">
                        <a href="{{vo.url}}">
                            <span><img src="{{vo.thumb}}" style="min-height:153px;"></span>
                            <p><font>{{vo.currency}}{{vo.price}}/{{vo.weightUnit}}</font></p>
                            <p>{{vo.title}}</p>
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
	</script>

    <!---floor-list--->
    <div class="home-items wrapper" id="floor-list"></div>
    <script type="text/html" id="tp-floor-list">
		<div class="home-item home-item-1 clearfix" id="section-{{id}}">
            <div class="home-item-l fl">
                <a href="#">
                    <img src="__PUBLIC__/Front/images/pic5.jpg">
                    <div class="home-item-tit">
                        <span>
                            <p>Daily<br>Chemicals</p>
                            <em>More<i></i></em>
                        </span>
                    </div>
                </a>
            </div>
            <div class="home-item-r fr">
                <ul class="clearfix">
                	{{each products value index}}
                    <li>
                        <a href="{{value.url}}">
                            <span><img src="{{value.thumb}}" style="min-height:153px;"></span>
                            <p><font>{{value.currency}}{{value.price}}/{{value.weightUnit}}</font></p>
                            <p>{{value.title}}</p>
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <!----ADbanner---->
        <div class="adbanner wrapper">
        	<a href="{{ad.url}}" target="_blank"><img src="{{ad.img}}"></a>
        </div>

	</script>
 
    <!---Our-Partner--->
    <div class="home-our-partner wrapper" id="partners"></div>
    <script type="text/html" id="tp-partners">
		<div class="home-our-partner-info">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {{each list vo ko}}
            <div class="swiper-slide"><a href="javascript:;"><img src="{{vo.img}}" style="width:100%;height:143px; box-sizing: border-box;"></a></div>
            {{/each}}
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
	</script>

    <!---How to trade on keywa?--->
    <div class="home-trade wrapper">
        <div class="home-tit"><span>How to trade on keywa?</span></div>
        <div class="home-trade-info">
            <p>March 2017, Qiu network and the "south wind window" co-sponsored "research China" - Qi network of special research projects to "industrial Internet, so that China from chemical power to chemical power" as a slogan, assembled enterprises, media ...</p>
            <p><img src="__PUBLIC__/Front/images/pic12.jpg"></p>
        </div>
    </div>

    <!----floor-nav---->
    <div class="floor-nav" id="floor-nav"></div>
    <script type="text/html" id="tp-floor-nav">
		
<ul>
{{each list value index}}
    <li><a href="#section-{{value.id}}"><i class="icon{{index + 1}}"></i><span>{{value.text}}</span></a></li>
{{/each}}
</ul>
<a href="javascript:;" class="go-top">
    <span>TOP</span>
    <i></i>
</a>
	</script>

    <!----footer---->
    
    <div class="footer">
        <div class="wrapper">
            <div class="footer-hd clearfix">
                <div class="footer-hd-l fl"><a href="#"><img src="__PUBLIC__/Front/images/footer-logo.png"></a></div>
                <div class="footer-hd-r fl">
                    <ul class="clearfix">
                        <li>
                            <p><span>About Keywa</span></p>
                            <p><a href="#">About us</a></p>
                            <p><a href="#">Contact us</a></p>
                            <p><a href="#">Media Report</a></p>
                            <p><a href="#">Terms of Use</a></p>
                            <p><a href="#">Legal statement</a></p>
                        </li>
                        <li>
                            <p><em>Support</em></p>
                            <p><b><a href="mailto:service@keywa.com">Email: service@keywa.com</a></b></p>
                            <p><b><a href="tel:+86 4008-488-999" target="_blank">Tel：+86 4008-488-999</a></b></p>
                        </li>
                        <li>
                            <p><span>Language</span></p>
                            <p><a href="#"><i class="cn"></i>中文</a></p>
                            <p><a href="#"><i class="en"></i>English</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-bd">
                <div class="copyright">Keywa.com © Copyright 2016 Keywa Inc. All rights reserved. ICP No.:GuangDong14005764</div>
            </div>
        </div>
    </div>


</body>
<script type="text/javascript" src="__PUBLIC__/Front/lib/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Front/lib/template-web.js"></script>
<script type="text/javascript" src="__PUBLIC__/Front/lib/alert/alert.js"></script>
<script type="text/javascript">window.$domain = 'http://kwen.t.weixinren.cn/'</script>
<script type="text/javascript">
$.fn.serializeObject = function() {
  var o = {};
  var a = this.serializeArray();
  $.each(a, function() {
      if (o[this.name] !== undefined) {
          if (!o[this.name].push) {
              o[this.name] = [o[this.name]];
          }
          o[this.name].push(this.value || '');
      } else {
          o[this.name] = this.value || '';
      }
  });
  return o;
};
$.post($domain + 'user/account/userDetail', {}, function(d){
	 var data = {}
	 if(d.code != '000'){ return }
	 data = d.detail
	 $('#username').html('<a href="/home/my/user.html" style="padding-right:5px;">'+ data.username +'</a>! Welcome to Keywa !')
	 $('#sign_wrap').html('<a href="/home/my/user.html">Account</a><a href="/user/index/logout.html">Sign Out</a>')
}, 'json')
</script>
<script type="text/javascript" src="__PUBLIC__/Front/js/index.js"></script>
</html>
