    <div class="footer">
    <div class="wrapper">
        <div class="footer-hd clearfix">
            <div class="footer-hd-l fl"><a href="#"><img src="__PUBLIC__/Front/images/footer-logo.png"></a></div>
            <div class="footer-hd-r fl">
                <ul class="clearfix">
                    <li>
                        <p><span>About Keywa</span></p>
                        <p><a href="{:U('Content/description')}">About us</a></p>
                        <p><a href="{:U('Content/contact')}">Contact us</a></p>
                        <p><a href="{:U('Content/news')}">Media Report</a></p>
                        <p><a href="{:U('Content/protocol')}">Terms of Use</a></p>
                        <p><a href="{:U('Content/legal')}">Legal statement</a></p>
                    </li>
                    <li>
                        <p><em>Support</em></p>
                        <p><b><a href="mainto:service@keywa.com">Email: service@keywa.com</a></b></p>
                        <p><b><a href="http://wpa.qq.com/msgrd?v=3&uin=736053036&site=qq&menu=yes" target="_blank">QQ: 2471579734</a></b></p>
                    </li>
                    <li>
                        <p><span>Language</span></p>
                        <p><a href="{:C('CN_KEYWA_SITE')}"><i class="cn"></i>中文</a></p>
                        <p><a href="{:C('EN_KEYWA_SITE')}"><i class="en"></i>English</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bd">
            <div class="copyright">Keywa.com © Copyright 2016 Keywa Inc. All rights reserved. ICP No.:GuangDong14005764</div>
        </div>
    </div>