<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>填写订单</title>
    <link rel="stylesheet" href="__PUBLIC__/Front/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/Front/css/write-order.css">
</head>
<body>

    <!----header---->
    
    <div class="top-bar">

        <div class="wrapper">
            <span>Hello ! Welcome to Keywa !</span>
            <a href="#">Help</a>
        </div>
    </div>



    <!---user---->
    <div class="user">
        <div class="logo">
            <div class="wrapper">
                <img src="__PUBLIC__/Front/images/logo.png"><span>Start Order</span>
            </div>
        </div>
        <!---write-order---->
        <div class="write-order wrapper">
            <div class="write-order-step">
                <ul class="clearfix">
                    <li class="on"><span>1</span><em>Start Order</em></li>
                    <li><span>2</span><em>Confirm Order</em></li>
                    <li><span>3</span><em>Confirm the voucher</em></li>
                    <li><span>4</span><em>Shipped</em></li>
                    <li><span>5</span><em>Complete order</em></li>
                </ul>
            </div>
            <div class="write-order-1">
                <h2>Seller information</h2>
                <div class="write-order-1-tit">
                    <dl>
                        <dt><img src="__PUBLIC__/Front/images/user-avatar.jpg"></dt>
                        <dd>
                            <h2>keywa</h2>
                            <p>Company Informatlon，Trading Center to., Ltd.</p>
                        </dd>
                    </dl>
                    <a href="javascript:;">Show<i></i></a>
                </div>
                <div class="write-order-1-info">
                    <ul class="clearfix">
                        <li><span>Tel:</span><em>0086-0579-13106203802</em></li>
                        <li><span>Email:</span><em>zogift@zogift.com</em></li>
                        <li><span>Fax:</span><em></em></li>
                        <li><span>Mobile:</span><em>13106203802</em></li>
                        <li><span>Country:</span><em>China</em></li>
                        <li><span>Region:</span><em>(Mainland)</em></li>
                        <li><span>City:</span><em>Guang Zhou</em></li>
                        <li><span>Address:</span><em>2-1,lingyuan 5 area</em></li>
                    </ul>
                </div>
            </div>
            <div class="write-order-2">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th width="400" align="left"><b>Product Information</b></th>
                            <th width="185" align="center">Reference Price</th>
                            <th width="185" align="center">Quantity</th>
                            <th width="130" align="center">Unit</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="340" align="left">
                                <dl>
                                    <dt><img src="__PUBLIC__/Front/images/pic9.jpg"></dt>
                                    <dd>
                                        <p><a href="#">【Ante】 Absolute Ethanol</a></p>
                                        <p>≥99.5% Food Grade, GR</p>
                                    </dd>
                                </dl>
                            </td>
                            <td align="center"><input type="text" value="$8.00" class="price"></td>
                            <td align="center">
                                <p><input type="text" value="200"></p>
                                <p>MOQ 200 ton</p>
                            </td>
                            <td align="center">Ton</td>
                            <td align="center"><a href="#" class="keywa-btn">Delete</a></td>
                        </tr>
                        <tr>
                            <td colspan="5" class="blank"></td>
                        </tr>
                        <tr>
                            <td width="340" align="left">
                                <dl>
                                    <dt><img src="__PUBLIC__/Front/images/pic9.jpg"></dt>
                                    <dd>
                                        <p><a href="#">【Ante】 Absolute Ethanol</a></p>
                                        <p>≥99.5% Food Grade, GR</p>
                                    </dd>
                                </dl>
                            </td>
                            <td align="center"><input type="text" value="$8.00" class="price"></td>
                            <td align="center">
                                <p><input type="text" value="200"></p>
                                <p>MOQ 200 ton</p>
                            </td>
                            <td align="center">Ton</td>
                            <td align="center"><a href="#" class="keywa-btn">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
                <div class="write-order-2-btn">
                    <a href="#">+ Add New Product</a>
                    <a href="#">+ Add my favorite product</a>
                </div>
            </div>
            <div class="write-order-3">
                <h2><span>Special instructions</span><a href="javascript:;">Show<i></i></a></h2>
                <div class="textarea">
                    <textarea placeholder="Please enter a comment message" rows="10"></textarea>
                    <span>Remaining: <em>800</em></span>
                </div>
                <div class="write-order-3-btn clearfix">
                    <div id="fileUploadContent" class="fileUploadContent mui-clearfix"></div>
                </div>
            </div>
            <div class="write-order-4">
                <h2>Offer Information</h2>
                <h3>Describe About your perferred unit price,destination port and the payment methods，<b>Pob+T/T</b></h3>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <td width="160" align="left">Quotation number</td>
                            <td align="left">KW/EXP/0711-2017</td>
                        </tr>
                        <tr>
                            <td align="left">Time quotes</td>
                            <td align="left">2017-07-11 15:32</td>
                        </tr>
                        <tr>
                            <td align="left">Mode of transport</td>
                            <td align="left">
                                <select class="chosen-select">
                                    <option>AIR1</option>
                                    <option>AIR2</option>
                                    <option>AIR3</option>
                                    <option>AIR4</option>
                                </select>
                                <input type="text" name="">
                            </td>
                        </tr>
                        <tr>
                            <td align="left">Delivery Term</td>
                            <td align="left">
                                <select class="chosen-select">
                                    <option>FOB1</option>
                                    <option>FOB2</option>
                                    <option>FOB3</option>
                                    <option>FOB4</option>
                                </select>
                                <input type="text" name="">
                            </td>
                        </tr>
                        <tr>
                            <td align="left">Freight</td>
                            <td align="left">
                                <select class="chosen-select">
                                    <option>PAYABLE1</option>
                                    <option>PAYABLE2</option>
                                    <option>PAYABLE3</option>
                                    <option>PAYABLE4</option>
                                </select>
                                <input type="text" name="">
                            </td>
                        </tr>
                        <tr>
                            <td align="left">Insurance By</td>
                            <td align="left">
                                <select class="chosen-select">
                                    <option>BUYER1</option>
                                    <option>BUYER2</option>
                                    <option>BUYER3</option>
                                    <option>BUYER4</option>
                                </select>
                                <input type="text" name="">
                            </td>
                        </tr>
                        <tr>
                            <td align="left">Unit</td>
                            <td align="left">
                                <select class="chosen-select">
                                    <option>MT1</option>
                                    <option>MT2</option>
                                    <option>MT3</option>
                                    <option>MT4</option>
                                </select>
                                <input type="text" name="">
                            </td>
                        </tr>
                        <tr>
                            <td align="left">Currency</td>
                            <td align="left">
                                <select class="chosen-select">
                                    <option>USD</option>
                                    <option>USD</option>
                                    <option>USD</option>
                                    <option>USD</option>
                                </select>
                                <input type="text" name="">
                            </td>
                        </tr>
                        <tr>
                            <td align="left">Governed By</td>
                            <td align="left">
                                <select class="chosen-select">
                                    <option>INCOTERMS 2010</option>
                                    <option>INCOTERMS 2010</option>
                                    <option>INCOTERMS 2010</option>
                                    <option>INCOTERMS 2010</option>
                                </select>
                                <input type="text" name="">
                            </td>
                        </tr>
                        <tr>
                            <td align="left">Special in stuctions</td>
                            <td align="left">
                                <input type="text" name="">
                            </td>
                        </tr>
                        <tr>
                            <td align="left">Total price</td>
                            <td align="left">
                                <input type="text" name="" class="price" value="$ 25000">
                            </td>
                        </tr>
                        <tr>
                            <td align="left">Freight & other </td>
                            <td align="left">
                                <span class="price">$ 200</span>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">Order total price</td>
                            <td align="left">
                                <span class="price">$ 25200</span>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="write-order-5">
                <h2>Address information</h2>
                <h3>Please set your address or create a new address</h3>
                <div class="write-order-5-info">
                    <p><span>Receiver:</span><em>Cheers Sweets</em></p>
                    <p><span>Country:</span><em>China</em></p>
                    <p><span>City:</span><em>ShenZhen</em></p>
                    <p><span>Address:</span><em>Room 505 Qinzhou Building,NO.6,Lane 108,Qinzhou Road,Xuhui</em></p>
                    <p><span>Port:</span><em>Guangzhou Nansha Port</em></p>
                    <p><span>Zip Code:</span><em>510160</em></p>
                    <p><span>Cellphone Number:</span><em>1370898867</em></p>
                    <p><span>Other Numbers:</span><em>020 8888 0000</em></p>
                    <div class="write-order-5-btn">
                        <a href="#" class="keywa-btn keywa-btn-primary">Edit</a><a href="#" class="keywa-btn">Delete</a>
                    </div>
                </div>
                <div class="write-order-5-add"><a href="#">+ Add Address</a></div>
            </div>
        </div>

        <div class="write-order-btn">
            <div class="wrapper">
                <label><input type="checkbox"><em></em>I have read , understood and agreed to abide by <b>Terms and Conditions Gverning Keywa</b></label>
                <span><a href="#" class="keywa-btn">Preview</a><a href="#" class="keywa-btn">Save</a><a href="#" class="keywa-btn keywa-btn-primary">Start Order</a></span>
            </div>
        </div>

    </div>

    <!----footer---->
    <include file="Public/footer" />


</body>
<script type="text/javascript" src="__PUBLIC__/Front/lib/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Front/js/write-order.js"></script>
</html>